/* Geral */
* {
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', Arial, sans-serif;
    cursor: url(../pics/flyswatter.png) 30 30, auto;
}

body {
    overflow: hidden;
    background: url(..pics/bg.jpg) cover fixed no-repeat;
}

body {
    overflow: hidden;
    background-image: url(../pics/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/* Container */
.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
       -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
       -ms-flex-align: center;
          align-items: center;
    height: 100vh;
}

.box {
    text-align: center;
    width: 80%;
    padding: 20px;
}

/* Title */
.game-title {
    text-transform: uppercase;
    color: #fff;
}

.game-title p {
    text-shadow: 4px 3px rgba(0, 0, 0, 1);
}

/* Buttons, inputs and select */
button, select {
    padding: 15px;
    border-radius: 20px;
    border: none;
    -webkit-box-shadow: 1px 2px rgba(0, 0, 0, 0.159);
            box-shadow: 1px 2px rgba(0, 0, 0, 0.159);
    text-shadow: 2px 1px rgb(255, 255, 255);
    width: 48%;
    text-align: center;
    margin-top: 10px;
    background: rgba(255, 255, 255, 0.5);
    -webkit-transition: 1.5s;
         -o-transition: 1.5s;
            transition: 1.5s;
    text-transform: lowercase;
}

button:hover, select:hover {
    -webkit-transform: scale(1.008);
        -ms-transform: scale(1.008);
            transform: scale(1.008);
    background-color: rgba(255, 255, 255, 1.0);
}

select {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

/* Img flies */

    /* Sizes */
    .fly1 {
        width: 70px;
        height: 70px;
    }

    .fly2 {
        width: 80px;
        height: 80px;
    }

    .fly3 {
        width: 90px;
        height: 90px;
    }

    /* Rotation and scale */
    .fly1_rotation {
        -webkit-transform: scaleX(1) rotate(-25deg);
            -ms-transform: scaleX(1) rotate(-25deg);
                transform: scaleX(1) rotate(-25deg);
        }

    .fly2_rotation {
        -webkit-transform: scaleX(-1) rotate(25deg);
            -ms-transform: scaleX(-1) rotate(25deg);
                transform: scaleX(-1) rotate(25deg);
    }
        
    .fly3_rotation {
        -webkit-transform: scaleX(1) rotate(-35deg);
            -ms-transform: scaleX(1) rotate(-35deg);
                transform: scaleX(1) rotate(-35deg);
        }

    .fly4_rotation {
        -webkit-transform: scaleX(-1) rotate(35deg);
            -ms-transform: scaleX(-1) rotate(35deg);
                transform: scaleX(-1) rotate(35deg);
    }


/* Playing game painel */
.painel {
    position: fixed;
    width: 80%;
    bottom: 0;
    text-align: center;
    text-transform: uppercase;
    font: 15px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 30px 30px 0 0;
    text-shadow: 2px 1px rgb(255, 255, 255);
}

.lifes {
    padding: 15px 0 20px;
}

.lifes img {
    width: 50px;
    height: 40px;
}

.time.area {
    padding: 15px;
    margin-bottom: 20px;
}

/* Media queries */
    /** Extra small devices (portrait phones, less than 576.98px) **/
    @media (max-width: 575.98px) {
        .game-title {
            font-size: 3.5em;
        }
    }

    /** Small devices (landscape phones, 576px and 767.98px) **/
	@media (min-width: 576px) and (max-width: 767.98px) {
        .game-title {
            font-size: 5em;
        }
	}

	/** Medium devices (tablets, 768px to 991.98) **/
	@media (min-width: 768px) and (max-width: 991.98px) { 
        .game-title {
            font-size: 6em;
        }
	}

	/** Large devices (tablets, 768px and up) **/
	@media (min-width: 992px) and (max-width: 1199.98px) {
        .game-title {
            font-size: 7em;
        }
	}
	/** X-Large devices (large desktops, 1200px and up) **/
	@media (min-width: 1200px) {
        .game-title {
            font-size: 8em;
        }
	}