/* Geral */
html {
    cursor: url(../pics/flyswatter.png) 30 30, auto;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
}

body {
    overflow: hidden;
    background-image: url(../pics/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-transform: uppercase;
}


/* Img flies */
    /* Sizes */
.fly1 {
    width: 70px;
    height: 70px;
}

.fly2 {
    width: 80px;
    height: 80px;
}

.fly3 {
    width: 90px;
    height: 90px;
}

    /* Rotation */
.fly1_rotation {
    transform: scaleX(1) rotate(-25deg);
    }

.fly2_rotation {
    transform: scaleX(-1) rotate(25deg);
}
    
.fly3_rotation {
    transform: scaleX(1) rotate(-35deg);
    }

.fly4_rotation {
    transform: scaleX(-1) rotate(35deg);
}
/* Container and painel */
.container {
    border: 1px solid purple;
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#playing-game .container {
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: end;
    
}

.painel {
    background: rgb(255, 255, 255, 0.3);
    border-radius: 30px 30px 0 0;
}

.lifes {
    display: flex;
    justify-content: center;
    padding: 20px;
    border: 1px solid red;   
}

.lifes img {
    padding: 0 5px 0 0px;
}

.time-area {
    padding: 15px;
    border: 1px solid green;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
}

/* Game over and win page */
.game-title {
    color: #fff;
    text-align: center;
}

.game-button button, select {
    padding: 15px;
    border-radius: 20px;
    border: none;
    margin-bottom: 10px;
    text-align: center;
    text-transform: lowercase;
    background-color: rgba(255, 255, 255, 0.4);
    transition: 1.5s;
}

button:hover, select:hover {
    transform: scale(1.008);
    background-color: rgb(255, 255, 255, 1);
    transition: 1.5s;
}

/* Media Queries */
	/** Extra small devices (portrait phones, less than 576.98px) **/
	@media (max-width: 575.98px) {
        .game-title {
            font-size: 3.5em;
        }
        .game-button button, select {
            width: 230px;
            font-size: 16px;
        }
        .painel {
            width: 90%;
        }
	}

	/** Small devices (landscape phones, 576px and 767.98px) **/
	@media (min-width: 576px) and (max-width: 767.98px) {
        .game-title {
            font-size: 5em;
        }
        .game-button button, select {
            width: 300px;
            font-size: 16px;
        }

        .painel {
            width: 80%;
        }
	}

	/** Medium devices (tablets, 768px to 991.98) **/
	@media (min-width: 768px) and (max-width: 991.98px) { 
        .game-title {
            font-size: 6em;
        }
        .game-button button, select {
            width: 300px;
            font-size: 16px;
        }
        .painel {
            width: 70%;
        }
	}

	/*// Large devices (tablets, 768px and up) **/
	@media (min-width: 992px) and (max-width: 1199.98px) {
        .game-title {
            font-size: 7em;
        }
        .game-button button, select{
            width: 400px;
            font-size: 17px;
        }
        .painel {
            width: 60%;
        }
	}
	/** X-Large devices (large desktops, 1200px and up) **/
	@media (min-width: 1200px) {
        .game-title {
            font-size: 8em;
        }

        .game-button button, select {
            width: 450px;
            font-size: 20px;
        }
        .painel {
            width: 50%;
        }
	}
